<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/sftp/css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">SFTP mini prog</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="{{ path('sftp_ftp_bulk') }}">Bulk transport</a>
        <a class="p-2 text-dark" href="{{ path('sftp_ftp_reverse') }}">Reverse Bulk</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>


<div class="container">
{% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{ asset('bundles/sftp/js/bootstrap.min.js') }}"></script>

</body>
</html>
